.section-four {
    width: 100%;
    height: 484px;
    display: grid;
    place-items: center;
    padding-bottom: 100px;
    .card-container {
        width: 70%;
        height: 80%;
        display: flex;
        
        flex-direction: row;
        
        margin-bottom: 20px;
        
        .card {
            position: relative;
            width:calc(100%/3);
            height: 100%;
            margin: 0 20px;
            display: grid;
            place-items: center;
            text-align: center;
            img{
                width: 80%;
                height: auto;
            }
            h5{
                
                margin-top: 20px;
                @include h5-title;  
             }
             p {
                 margin-top: 20px;
                 line-height: 1.87em;
                 @include card-text;
                 
             }
            
        }
    }
}