@import 'config';
@import 'nav-menu';
@import 'fonts';
@import 'image-banner';
@import 'button';
@import 'nav-socials';
@import 'about-section';
@import 'nav-underline';
@import 'section-two' ;
@import 'section-three', 'section-four', 'section-five', 'section-location', 'section-contact', 'section-faq';





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    color: $primary-text-color;
}

