@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.flip {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-container {
  position: absolute;
  width: 100%;
  z-index: 20;
}

.nav-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 55px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-menu .nav-logo {
  position: absolute;
  left: 5%;
}

.nav-container .nav-menu .nav-logo a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.nav-container .nav-menu .nav-logo a .viewbox {
  width: 70px;
}

.nav-container .nav-menu .nav-logo a .viewbox img {
  width: 100%;
  height: 100%;
}

.nav-container .nav-menu .nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-center;
      -ms-flex-pack: space-center;
          justify-content: space-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.nav-container .nav-menu .nav-menu__list li {
  margin: 0 50px;
}

.nav-container .nav-menu .nav-menu__list li a {
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  padding-bottom: 10px;
}

.nav-container .nav-menu .nav-menu__list li a:hover {
  color: #d6b981;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.swiper {
  height: 100vh;
  width: 100vw;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper #slider-one {
  width: 100%;
  height: 100%;
  background-color: #f3f1f2 !important;
}

.swiper-wrapper #slider-three {
  width: 100%;
  height: 100%;
  background-color: #f4f5f7 !important;
}

.swiper-wrapper .swiper-slide {
  height: 100%;
  width: 100%;
}

.swiper-wrapper .swiper-slide #slide-img-one {
  margin-top: 120px !important;
}

.swiper-wrapper .swiper-slide #slide-img-two {
  margin-top: 270px !important;
}

.swiper-wrapper .swiper-slide #slide-img-three {
  margin-top: 370px !important;
  margin-right: 50 px !important;
}

.swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-wrapper .swiper-slide .caption {
  margin-top: -30px;
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.swiper-wrapper .swiper-slide .caption h2 {
  font-family: 'Prata',sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 13px;
  margin-bottom: 15px;
}

.swiper-wrapper .swiper-slide .caption p {
  font-family: 'Open Sans', sans-serif;
  min-width: 539px;
  max-width: 539px;
  white-space: normal;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  color: #6a6a6a;
  margin-top: 15px;
}

.swiper-wrapper .swiper-slide .caption .cta-button {
  margin-top: 40px;
}

.swiper-wrapper .swiper-slide .caption .cta-button button {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.swiper-button-prev {
  color: #d6b981;
  left: 50px;
}

.swiper-button-next {
  color: #d6b981;
  right: 50px;
}

.swiper-pagination-bullet-active {
  background-color: #d6b981;
}

.primary-btn {
  background-color: transparent;
  padding: 20px 40px;
  border: 0.5px solid #815b08;
  color: #815b08;
}

.primary-btn:hover {
  background-color: #d6b981;
  color: white;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-color: #d6b981;
}

/*
    Auther: Abdelrhman Said
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 50px;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -40px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.wrapper .zalo:hover,
.wrapper .zalo:hover .tooltip,
.wrapper .zalo:hover .tooltip::before {
  background-color: #0573ff;
  color: #ffffff;
}

#zalo-icon-white {
  display: none;
}

.wrapper .zalo:hover #zalo-icon-white {
  display: block;
}

.wrapper .zalo:hover #zalo-icon-blk {
  display: none;
}

.about-section {
  background-image: url(https://aviana.qodeinteractive.com/wp-content/uploads/2017/09/h1-parallax-1.jpg);
  background-position: center;
  height: 434px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.about-section .about-container .divide-line {
  padding: 0px 170px;
  border-top: 1px solid #d6b981;
  margin-top: 15px;
  margin-bottom: 40px;
}

.about-section .about-container .about-caption {
  font-family: 'Prata', sans-serif;
  width: 691px;
  margin-bottom: 5px;
}

.about-section .about-container .about-caption h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  letter-spacing: .1em;
}

.about-section .about-container .about-caption h6 {
  margin-top: 20px;
  font-size: 15px;
  color: #6a6a6a;
  text-transform: none;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  letter-spacing: .025em;
  vertical-align: baseline;
  text-align: center;
}

.about-section .about-container .about-caption h6::-moz-selection {
  background: #d6b981;
  color: #fff;
}

.about-section .about-container .about-caption h6::selection {
  background: #d6b981;
  color: #fff;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #d6b981;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d6b981;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.section-two {
  width: 100%;
  height: 434px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #f8f9f6;
}

.section-two .card-wrapper {
  width: 70%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-two .card-wrapper .card {
  position: relative;
  width: 25%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.section-two .card-wrapper .card .icon-circle {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #d6b981;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 20;
}

.section-two .card-wrapper .card .icon-circle:hover {
  width: 88px;
  height: 88px;
}

.section-two .card-wrapper .card .card-caption {
  margin: 0 20px;
  width: 80%;
}

.section-two .card-wrapper .card .card-caption img {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.section-two .card-wrapper .card .card-caption h5 {
  margin-top: 80px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  letter-spacing: .1em;
  font-weight: 400;
  text-transform: uppercase;
}

.section-two .card-wrapper .card .card-caption p {
  margin-top: 20px;
  line-height: 1.87em;
  color: #909090;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: .025em;
}

.section-three {
  padding-top: 100px;
  height: 380  px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-three .about-container {
  padding-top: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.section-three .about-container .divide-line {
  padding: 0px 170px;
  border-top: 1px solid #d6b981;
  margin-top: 15px;
  margin-bottom: 40px;
}

.section-three .about-container .about-caption {
  font-family: 'Prata', sans-serif;
  width: 880px;
  margin-bottom: 5px;
}

.section-three .about-container .about-caption h2 {
  line-height: 1.6em;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  letter-spacing: .1em;
}

.section-three .about-container .about-caption h6 {
  margin-top: 20px;
  line-height: 1.87em;
  font-size: 15px;
  color: #6a6a6a;
  text-transform: none;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  letter-spacing: .025em;
  vertical-align: baseline;
  text-align: center;
}

.section-three .about-container .about-caption h6::-moz-selection {
  background: #d6b981;
  color: #fff;
}

.section-three .about-container .about-caption h6::selection {
  background: #d6b981;
  color: #fff;
}

.section-four {
  width: 100%;
  height: 484px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-bottom: 100px;
}

.section-four .card-container {
  width: 70%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.section-four .card-container .card {
  position: relative;
  width: calc(100%/3);
  height: 100%;
  margin: 0 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.section-four .card-container .card img {
  width: 80%;
  height: auto;
}

.section-four .card-container .card h5 {
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  letter-spacing: .1em;
  font-weight: 400;
  text-transform: uppercase;
}

.section-four .card-container .card p {
  margin-top: 20px;
  line-height: 1.87em;
  color: #909090;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: .025em;
}

.section-five {
  width: 100%;
  height: 434px;
  background-color: aqua;
}

.section-five .card-container {
  width: inherit;
  height: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: red;
}

.section-five .card-container .card {
  position: relative;
  height: inherit;
  width: calc(100%/3);
  overflow: hidden;
}

.section-five .card-container .card:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(/assets/images/h1-int-banner-img-1.jpg);
  z-index: 15;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-five .card-container .card:first-child:hover::before {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.section-five .card-container .card:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(/assets/images/h1-int-banner-img-2.jpg);
  z-index: 15;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-five .card-container .card:nth-child(2):hover::before {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.section-five .card-container .card:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(/assets/images/h1-int-banner-img-3-768x517.jpg);
  z-index: 15;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-five .card-container .card:nth-child(3):hover::before {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.section-five .card-container .card .caption {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 20;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-five .card-container .card .caption img {
  width: 60px;
  height: 68px;
}

.section-five .card-container .card .caption h2 {
  font-size: 30px;
  line-height: 1.6em;
  margin: 32px 0;
  font-family: Prata,sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  letter-spacing: .1em;
}

.section-five .card-container .card .caption h2::after {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 240px;
}

.section-location {
  background-image: url(/assets/images/h1-parallax-2a.jpg);
  height: 702px;
  width: 100%;
}

.section-location .about-container {
  padding-top: 110px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-bottom: 60px;
}

.section-location .about-container .divide-line {
  padding: 0px 170px;
  border-top: 1px solid #d6b981;
  margin-top: 15px;
  margin-bottom: 40px;
}

.section-location .about-container .about-caption {
  font-family: 'Prata', sans-serif;
  width: 880px;
  margin-bottom: 5px;
}

.section-location .about-container .about-caption h2 {
  line-height: 1.6em;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  letter-spacing: .1em;
}

.section-location .about-container .about-caption h6 {
  margin-top: 20px;
  line-height: 1.87em;
  font-size: 15px;
  color: #6a6a6a;
  text-transform: none;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  letter-spacing: .025em;
  vertical-align: baseline;
  text-align: center;
}

.section-location .about-container .about-caption h6::-moz-selection {
  background: #d6b981;
  color: #fff;
}

.section-location .about-container .about-caption h6::selection {
  background: #d6b981;
  color: #fff;
}

.section-location .location-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 300px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-location .location-container .card {
  width: 25%;
  height: inherit;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-location .location-container .card h4 {
  letter-spacing: .1em;
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-size: 17px;
  font-family: 'Prata', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.section-location .location-container .card p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.87em;
  color: #909090;
  text-align: center;
}

.section-location .location-container .card p a {
  color: #000;
  text-decoration: none;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.section-location .location-container .card p a:hover {
  color: #d6b981;
}

.section-contact {
  width: 100%;
  height: 870px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: #000;
}
/*# sourceMappingURL=main.css.map */